* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #ffff;
}
.v295_94 a:hover {
  color: #00b2ff;
}
.v244_211 {
  width: 1448px;
  height: 2048px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: hidden;
}
.v274_2 {
  width: 100%;
  height: 127px;
  background: rgba(13, 18, 46, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v274_3 {
  width: 191px;
  height: 29px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 848px;
  overflow: hidden;
}
.v274_4 {
  width: 72px;
  color: rgba(148, 148, 148, 1);
  position: absolute;
  top: 1px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v274_5 {
  width: 109px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 53px;
  right: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v274_6 {
  width: 112px;
  height: 29px;
  background: rgba(0, 178, 255, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 1039px;
  overflow: hidden;
}
.v274_7 {
  width: 72px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v274_8 {
  width: 311px;
  height: 151px;
  background: url('../images/v274_8.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v274_9 {
  width: 170px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 31px;
  left: 66px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Seaweed Script;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v246_3 {
  width: 556px;
  height: 536px;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 49px;
  border: solid 1px #000000;
  overflow: hidden;
}
.v278_55 {
  width: 556px;
  height: 536px;
  background: url('../images/v92_929.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_24 {
  width: 748px;
  height: 675px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 656px;
  overflow: hidden;
}
.v278_56 {
  width: 738px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 20px;
  left: 8px;
  font-family: Squada One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v278_57 {
  width: 743px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 108px;
  left: 8px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_7 {
  width: 338px;
  height: 109px;
  background: url('../images/v285_7.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 8px;
  overflow: hidden;
}
.v285_2 {
  width: 130px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_3 {
  width: 326px;
  height: 49px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 0px;
  overflow: hidden;
}
.v285_3 select {
  width: 326px;
  height: 49px;
  background: #fff;
}

.v285_6 {
  width: 197px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_8 {
  width: 338px;
  height: 109px;
  background: url('../images/v285_8.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 8px;
  overflow: hidden;
}
.v285_9 {
  width: 116px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_10 {
  width: 326px;
  height: 49px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 0px;
  overflow: hidden;
}
.v285_10 select {
  width: 326px;
  height: 49px;
  background: #fff;
}

.v285_11 {
  width: 180px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_15 {
  width: 177px;
  height: 42px;
  background: rgba(196, 196, 196, 0.5);
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 8px;
  overflow: hidden;
}
.v285_16 {
  width: 21px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 79px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_22 {
  width: 42px;
  height: 42px;
  background: url('../images/v285_22.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v285_22 input {
  width: 42px;
  height: 42px;
}
.v285_24 {
  width: 21px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_23 {
  width: 42px;
  height: 42px;
  background: url('../images/v285_23.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v285_23 input {
  width: 42px;
  height: 42px;
}
.v285_25 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_20 {
  width: 69px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 429px;
  left: 222px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_21 {
  width: 41px;
  color: rgba(13, 18, 46, 1);
  position: absolute;
  top: 429px;
  left: 302px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v285_26 {
  width: 306px;
  height: 60px;
  background: rgba(0, 178, 255, 1);
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 8px;
  overflow: hidden;
}
.v285_27 {
  width: 306px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v286_28 {
  width: 452px;
  height: 60px;
  background: rgba(0, 178, 255, 0.25);
  opacity: 1;
  position: absolute;
  top: 590px;
  left: 8px;
  overflow: hidden;
}
.v286_29 {
  width: 452px;
  height: 60px;
  color: rgba(13, 18, 46, 1);
  position: absolute;
  top: 9px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v274_10 {
  width: 1357px;
  height: 675px;
  background: url('../images/v274_10.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 971px;
  left: 47px;
  box-sizing: border-box;
  border: 1px solid #000000;
  overflow: hidden;
}

.v287_2 {
  width: 100%;
  height: 102px;
  background: rgba(0, 178, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v286_30 {
  width: 323px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 28px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v295_80 {
  width: 440px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 155px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v295_81 {
  width: 135px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 240px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v306_27 {
  width: 1235px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 309px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v274_52 {
  width: 100%;
  height: 287px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 1761px;
  left: 0px;
  overflow: hidden;
}
.v274_53 {
  width: 181px;
  height: 85px;
  background: url('../images/v274_53.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v274_54 {
  width: 130px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 51px;
  text-shadow: 0px 3.0777478218078613px 3px rgba(0, 0, 0, 0.25);
  font-family: Seaweed Script;
  font-weight: Regular;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v274_55 {
  width: 874px;
  height: 194px;
  background: url('../images/v274_55.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 182px;
  overflow: hidden;
}
.v274_56 {
  width: 58px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 106px;
  left: 280px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_57 {
  width: 134px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76px;
  left: 280px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_58 {
  width: 66px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 48px;
  left: 280px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_59 {
  width: 116px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 14px;
  left: 280px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_60 {
  width: 113px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 48px;
  left: 509px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_61 {
  width: 76px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 14px;
  left: 509px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_62 {
  width: 112px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 133px;
  left: 76px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_63 {
  width: 146px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 106px;
  left: 76px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_64 {
  width: 65px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76px;
  left: 76px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_65 {
  width: 37px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 48px;
  left: 76px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_66 {
  width: 90px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 14px;
  left: 76px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_67 {
  width: 130px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 151px;
  left: 735px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v274_68 {
  width: 23px;
  height: 23px;
  background: rgba(255, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 699px;
  overflow: hidden;
}
.v274_69 {
  width: 19px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v274_70 {
  width: 114px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 116px;
  left: 732px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v274_71 {
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 699px;
  overflow: hidden;
}
.v274_72 {
  width: 19px;
  height: 19px;
  background: rgba(35, 255, 0, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v274_73 {
  width: 70px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 82px;
  left: 735px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v274_74 {
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 699px;
  overflow: hidden;
}
.v274_75 {
  width: 19px;
  height: 19px;
  background: rgba(224, 0, 244, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v274_76 {
  width: 62px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 49px;
  left: 735px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v274_77 {
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 699px;
  overflow: hidden;
}
.v274_78 {
  width: 19px;
  height: 19px;
  background: rgba(0, 178, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v274_79 {
  width: 91px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 15px;
  left: 697px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.v274_85 {
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 13px;
  overflow: hidden;
}
.v274_86 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v274_87 {
  width: 123px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 261px;
  left: 20px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v274_88 {
  width: 381px;
  height: 73px;
  background: url('../images/v274_88.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 987px;
  overflow: hidden;
}
.v274_89 {
  width: 66px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 17px;
  left: 291px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v274_90 {
  width: 253px;
  height: 31px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 27px;
  overflow: hidden;
}
.v274_91 {
  width: 242px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 34px;
  overflow: hidden;
}
.v274_92 {
  width: 273px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 52px;
  left: 27px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v295_94 {
  width: 100%;
  height: 68px;
  background: rgba(10, 14, 34, 1);
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v295_95 {
  width: 40px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 97px;
  overflow: hidden;
}
.v295_97 {
  width: 106px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 935px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v295_98 {
  width: 129px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 585px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v295_99 {
  width: 148px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 208px;
  font-family: Sedan;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
